/* Global styles and reets */
* {
  box-sizing: border-box;
}

h1 {
  background-color: rgb(84, 139, 216);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

body {
  background-color: rgb(115, 162, 238);
}

/* Global navigation bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(194, 210, 254);
  border-radius: 25px;
}

.homebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.homebar li {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.homebar a {
  text-decoration: none;
  color: rgb(84, 139, 216);
  border: 2px solid rgb(84, 139, 216);
  border-radius: 8px;
  padding: 5px;
}

.homebar a:hover {
  color: rgb(4, 52, 119);
  border: 0;
}

/* Main landing page */

.image-galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.image-galery figure > img {
  width: 100%;

  padding: 5px;
  background-color: rgb(59, 106, 146);
}

.image-galery > figure {
  margin: 0;

  flex-basis: 20%;
}

/* Contact */

.contact-info {
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
