* {
  box-sizing: border-box;
}

body {
  background-color: rgb(115, 162, 238);
}

h1 {
  background-color: rgb(84, 139, 216);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(194, 210, 254);
  border-radius: 25px;
}

.homebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.homebar li {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.homebar a {
  text-decoration: none;
  color: rgb(84, 139, 216);
  border: 2px solid rgb(84, 139, 216);
  border-radius: 8px;
  padding: 5px;
}

.homebar a:hover {
  color: rgb(4, 52, 119);
  border: 0 none;
}

#image-gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

#image-gallery > img {
  flex: 1 1 auto;
  max-width: 19%;
  text-align: center;
  border: 5px solid var(--border-color, black);
}

#Toronto-Market-Place {
  --border-color: rgb(59, 106, 146);
}
#Parliament {
  --border-color: rgb(98, 213, 83);
}
#Glebe {
  --border-color: rgb(123, 39, 151);
}
#Segelflug {
  --border-color: rgb(247, 185, 26);
}
#Gatineau {
  --border-color: rgb(246, 235, 26);
}
